In [63]:
import pandas as pd
import matplotlib.pyplot as plt
import json
import csv
import sqlalchemy
from sqlalchemy import create_engine, Table, MetaData, select, and_, desc, func, case, cast, Float
from sqlalchemy import Column, String, Integer, Boolean, insert, update, delete
import pymysql
import psycopg2
import pyodbc
from pprint import pprint as pp
import csv
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
pd.options.display.max_colwidth = None
pd.set_option("display.float_format", lambda x: '%.9f' % x)
from IPython.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

## Inspection Version

In [64]:
sqlalchemy.__version__

'2.0.7'

In [65]:
pd.__version__

'1.5.3'

In [66]:
pymysql.__version__

'1.0.2'

In [67]:
census_csv_data='data/census.csv'

In [68]:
census_sql_data='sqlite:///data/census.sqlite'

In [69]:
employees_sql_data='sqlite:///data/employees.sqlite'

## PostgresSQL

In [70]:
import psycopg2

## Getting credentials

In [71]:
dayo_postgres_file_path="credentials/dayo_postgressql.json"
jacob_postgres_file_path="credentials/jacob_postgressql.json"

In [72]:
def load_json(file_path):
    """ Loads json file """
    try:
        with open(file_path) as f:
            json_file = json.load(f)
            return json_file
    except Exception as e:
        print(str(e))
        return {}

In [73]:
db_credentials=load_json(dayo_postgres_file_path)
jacob_postgres_credential=load_json(jacob_postgres_file_path)

In [74]:
# dayo_postgres_credential

In [75]:
test_file="credentials/dayo_postgressql.json"

In [76]:
test_file

'credentials/dayo_postgressql.json'

In [77]:
test_credentials=load_json(test_file)

In [78]:
test2_file="credentials/jacob_postgressql.json"

In [79]:
test2_file

'credentials/jacob_postgressql.json'

In [80]:
test2_credentials=load_json(test2_file)

In [81]:
db_credentials["database"]

'free_hackerman'

In [82]:
jacob_postgres_credential["database"]

'postgres'

# Connect to an existing database

```python
>>> conn = psycopg2.connect("dbname=test user=postgres")
```

In [83]:
datahackerman_connection = psycopg2.connect(
    dbname=db_credentials["database"],
    user=db_credentials["username"],
    password=db_credentials["password"],
    host=db_credentials["host"],
    port=db_credentials["port"]
)

In [84]:
datahackerman_connection

```python
# Open a cursor to perform database operations
>>> cur = conn.cursor()
```

In [85]:
datahackerman_cur = datahackerman_connection.cursor()

```python
# Query the database and obtain data as Python objects
>>> cur.execute("SELECT * FROM test;")
```

```python
# Query the database and obtain data as Python objects
>>> cur.execute("SELECT * FROM test;")
>>> cur.fetchone()
(1, 100, "abc'def")
```

In [86]:
datahackerman_cur.execute("SELECT * FROM Books LIMIT 5;")

In [87]:
datahackerman_cur.fetchone()

(81490378501273,
 'Leslie Godwin',
 292,
 '1985-11-30',
 7,
 'Religious',
 'wispy Hiawatha Midwestern prolix sanitarium aloe')

In [88]:
datahackerman_cur.fetchall()

[(2265183237865,
  'Theresa Scruggs',
  51,
  '1922-02-15',
  30,
  'SciFi',
  'deterrent someday indent decennial'),
 (38355930389954,
  'Elaine Turner',
  51,
  '1990-02-27',
  30,
  'Religious Novels',
  'aquatic certificate flatus flowery slack'),
 (12676076159906,
  'Claretta Dewitt',
  308,
  '1988-06-23',
  7,
  'HISTORICAL',
  'pre scald pillage minor incomputable'),
 (17366175799537,
  'Douglas Barrio',
  243,
  '1961-01-29',
  30,
  'Fantasy',
  'hateful division Malagasy')]

```python
# Make the changes to the database persistent
>>> conn.commit()

# Close communication with the database
>>> cur.close()
>>> conn.close()
```

### Getting it in tabular form

In [89]:
def get_data_postgres_raw(query_string, db_credentials):
    connection = psycopg2.connect(
      dbname=db_credentials["database"],
      user=db_credentials["username"],
      password=db_credentials["password"],
      host=db_credentials["host"],
      port=db_credentials["port"]
    )

    cursor = connection.cursor()
    cursor.execute(query_string)
    
    print(cursor.fetchone())
    
    result = cursor.fetchall()
    
    connection.commit()
    cursor.close()
    connection.close()
    
    return result

In [90]:
query_string = """
SELECT * FROM Books LIMIT 5;
"""

In [91]:
get_data_postgres_raw(query_string, db_credentials)

(81490378501273, 'Leslie Godwin', 292, '1985-11-30', 7, 'Religious', 'wispy Hiawatha Midwestern prolix sanitarium aloe')

[(2265183237865,
  'Theresa Scruggs',
  51,
  '1922-02-15',
  30,
  'SciFi',
  'deterrent someday indent decennial'),
 (38355930389954,
  'Elaine Turner',
  51,
  '1990-02-27',
  30,
  'Religious Novels',
  'aquatic certificate flatus flowery slack'),
 (12676076159906,
  'Claretta Dewitt',
  308,
  '1988-06-23',
  7,
  'HISTORICAL',
  'pre scald pillage minor incomputable'),
 (17366175799537,
  'Douglas Barrio',
  243,
  '1961-01-29',
  30,
  'Fantasy',
  'hateful division Malagasy')]

In [92]:
query_string = """
SELECT * FROM Books
"""

In [93]:
book_data = get_data_postgres_raw(query_string, db_credentials)

(81490378501273, 'Leslie Godwin', 292, '1985-11-30', 7, 'Religious', 'wispy Hiawatha Midwestern prolix sanitarium aloe')

In [94]:
len(book_data)

2998

In [95]:
book_data[0:10]

[(2265183237865,
  'Theresa Scruggs',
  51,
  '1922-02-15',
  30,
  'SciFi',
  'deterrent someday indent decennial'),
 (38355930389954,
  'Elaine Turner',
  51,
  '1990-02-27',
  30,
  'Religious Novels',
  'aquatic certificate flatus flowery slack'),
 (12676076159906,
  'Claretta Dewitt',
  308,
  '1988-06-23',
  7,
  'HISTORICAL',
  'pre scald pillage minor incomputable'),
 (17366175799537,
  'Douglas Barrio',
  243,
  '1961-01-29',
  30,
  'Fantasy',
  'hateful division Malagasy'),
 (94390875304793,
  'Donald Hoes',
  283,
  '1927-03-13',
  30,
  'pop science',
  'Shaffer deodorant torn armload giantess trident'),
 (59564182657149,
  'Sherri Campos',
  192,
  '1916-08-11',
  30,
  'SHORT-STORIES',
  'conserve aerate diatomic prognosticate melange'),
 (78141158410406,
  'Gerald Hundley',
  183,
  '1928-01-07',
  30,
  'SHORT STORIES',
  'Dolores zing Galveston Minoan davit'),
 (86413140521812,
  'Sara Hammond',
  485,
  '1955-03-01',
  7,
  'mystery',
  'inquiry official biotite ablution rodent Dan'),
 (30958141877211,
  'Alexandra Sandoval',
  330,
  '1919-07-15',
  30,
  'Fantasy',
  'Peggy Peruvian rhinoceros miscible speakeasy Wallis'),
 (14173960760430,
  'Jessica Worthey',
  379,
  '1978-11-25',
  30,
  'childrens',
  'tumble moiety India Welles convalesce vellum')]

In [96]:
pd.DataFrame(book_data[0:10])

,0,1,2,3,4,5,6
0,2265183237865,Theresa Scruggs,51,1922-02-15,30,SciFi,deterrent someday indent decennial
1,38355930389954,Elaine Turner,51,1990-02-27,30,Religious Novels,aquatic certificate flatus flowery slack
2,12676076159906,Claretta Dewitt,308,1988-06-23,7,HISTORICAL,pre scald pillage minor incomputable
3,17366175799537,Douglas Barrio,243,1961-01-29,30,Fantasy,hateful division Malagasy
4,94390875304793,Donald Hoes,283,1927-03-13,30,pop science,Shaffer deodorant torn armload giantess trident
5,59564182657149,Sherri Campos,192,1916-08-11,30,SHORT-STORIES,conserve aerate diatomic prognosticate melange
6,78141158410406,Gerald Hundley,183,1928-01-07,30,SHORT STORIES,Dolores zing Galveston Minoan davit
7,86413140521812,Sara Hammond,485,1955-03-01,7,mystery,inquiry official biotite ablution rodent Dan
8,30958141877211,Alexandra Sandoval,330,1919-07-15,30,Fantasy,Peggy Peruvian rhinoceros miscible speakeasy Wallis
9,14173960760430,Jessica Worthey,379,1978-11-25,30,childrens,tumble moiety India Welles convalesce vellum

### Use 'pandas.read_sql
read_sql->[https://pandas.pydata.org/docs/reference/api/pandas.read_sql.html]

In [97]:
datahackerman_connection = psycopg2.connect(
    dbname=db_credentials["database"],
    user=db_credentials["username"],
    password=db_credentials["password"],
    host=db_credentials["host"],
    port=db_credentials["port"]
)

In [98]:
query_string = """
SELECT * FROM rentals
"""

In [99]:
%%time
rentals_data = pd.read_sql(query_string, datahackerman_connection)
# pd.read_sql(query_string, datahackerman_connection)

<timed exec>:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

CPU times: total: 4.55 s
Wall time: 31.9 s

In [100]:
sqlalchemy.__version__

'2.0.7'

In [101]:
from sqlalchemy.engine import URL

In [104]:


datahackerman_url_object = URL.create(
    "postgresql+psycopg2",
    username=db_credentials["username"],
    password=db_credentials["password"],
    host=db_credentials["host"],
    database=db_credentials["database"],
    port=db_credentials["port"]
)

In [105]:
engine = create_engine(datahackerman_url_object)

In [106]:
engine

Engine(postgresql+psycopg2://hackerman:***@freetier-hackerman.c9gajtac8ssy.eu-west-2.rds.amazonaws.com:5432/free_hackerman)

In [107]:
query_string = """
SELECT * FROM rentals
"""

In [108]:
from sqlalchemy.sql import text

In [109]:
with engine.connect().execution_options(autocommit=True) as dh_connection:
    # df = pd.read_sql(f"""SELECT * FROM table_name WHERE condition""", con = conn)
    rentals_data = pd.read_sql(text(query_string), dh_connection)

In [110]:
rentals_data.head()

              UID            book        borrower         out    returned
0  76609620900561  37305790289730  88833280729411  2017-06-29  2017-07-17
1  83114291920228   1253436612142  88833280729411  2009-11-29  2009-12-16
2  88537859878214  92083778372643  88833280729411  2015-05-15  2015-06-09
3  75410000220725  51049394513918  88833280729411  2014-09-15  2014-10-04
4  32824255130354  14360217402682  88833280729411  2012-06-12  2012-06-20

In [111]:
rentals_data.head()

              UID            book        borrower         out    returned
0  76609620900561  37305790289730  88833280729411  2017-06-29  2017-07-17
1  83114291920228   1253436612142  88833280729411  2009-11-29  2009-12-16
2  88537859878214  92083778372643  88833280729411  2015-05-15  2015-06-09
3  75410000220725  51049394513918  88833280729411  2014-09-15  2014-10-04
4  32824255130354  14360217402682  88833280729411  2012-06-12  2012-06-20

In [112]:
def get_data_postgres_tabular(query_string, db_credentials):
    connection = psycopg2.connect(
      dbname=db_credentials["database"],
      user=db_credentials["username"],
      password=db_credentials["password"],
      host=db_credentials["host"],
      port=db_credentials["port"]
    )

  
    result = pd.read_sql(query_string, connection)
    
    return result

In [113]:
query_string = """
SELECT * FROM borrowers
"""

In [114]:
borrowers_data = pd.read_sql(query_string, datahackerman_connection)

C:\Users\Omistaja\AppData\Local\Temp\ipykernel_8876\1747350286.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  borrowers_data = pd.read_sql(query_string, datahackerman_connection)

In [115]:
borrowers_data.head()

          DoB             UID address ethnic_group gender   join_date
0  1964-05-26   6407399394844    M1 2            D      M  1981-08-20
1  1935-10-19  76509601043881   M24 4            D      M  1973-10-14
2  1937-03-01   6792108939008   M33 5            D      M  1974-02-25
3  1964-06-18  10123457846743    M5 4            F      M  1973-01-07
4  1968-10-24  28422585028351   M40 7            D      M  1984-10-18

### Combine Books,Borrowers,Rentals

In [116]:
combined_query_string = """
select
    r."UID" as rental_uid,
    r.book as book_uid,
    r.borrower as borrower_uid,
    r."out" as borrowed_date,
    r.returned as borrower_returned_date,
    b.author as book_author,
    b."length" as book_length,
    b.publication_date as book_publication_date,
    b.rental_period as book_rental_date,
    b.subject as book_subject,
    b.title as book_title,
    b2."DoB" as borrower_date_of_birth,
    b2.address as borrower_address,
    b2.ethnic_group as borrower_ethnic_group,
    b2.gender as borrower_gender,
    b2.join_date as borrower_join_date
from rentals r
left join books b
    on r.book = b."UID"
left join borrowers b2
    on r.borrower = b2."UID"
"""

In [117]:
combined_data = get_data_postgres_tabular(combined_query_string, db_credentials)

C:\Users\Omistaja\AppData\Local\Temp\ipykernel_8876\3538503637.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  result = pd.read_sql(query_string, connection)

In [118]:
combined_data.head()

,rental_uid,book_uid,borrower_uid,borrowed_date,borrower_returned_date,book_author,book_length,book_publication_date,book_rental_date,book_subject,book_title,borrower_date_of_birth,borrower_address,borrower_ethnic_group,borrower_gender,borrower_join_date
0,76609620900561,37305790289730,88833280729411,2017-06-29,2017-07-17,Robert Acuff,362,1981-07-09,30,Teen,dachshund default partition amputate,2001-03-14,M1 3,D,F,2008-04-19
1,83114291920228,1253436612142,88833280729411,2009-11-29,2009-12-16,Meredith Saunders,414,1978-11-09,30,teen,phonic auspices Gaussian madmen produce expedition,2001-03-14,M1 3,D,F,2008-04-19
2,88537859878214,92083778372643,88833280729411,2015-05-15,2015-06-09,Hazel Law,308,1985-11-25,30,Short Stories,citron Danny foot,2001-03-14,M1 3,D,F,2008-04-19
3,75410000220725,51049394513918,88833280729411,2014-09-15,2014-10-04,Michael Dealba,315,1968-04-25,30,horror,sapient vivacious guillotine bushland shoal insouciant,2001-03-14,M1 3,D,F,2008-04-19
4,32824255130354,14360217402682,88833280729411,2012-06-12,2012-06-20,Christopher Smith,345,1974-12-19,7,fantasy,flounder blight taffeta supplicant accede,2001-03-14,M1 3,D,F,2008-04-19

## Ms sql server

In [119]:
import pyodbc

```python
# For Trusted connection:

connection_string = (
    "Driver={SQL Server Native Client 11.0};"
     "Server=Your_Server_Name;"
     "Database=My_Database_Name;"
     "Trusted_Connection=yes;"
)
```

```python
# For Non-Trusted Connection:
connection_string = (
    "Driver={SQL Server Native Client 11.0};"
    "Server=Your_Server_Name;"
    "Database=My_Database_Name;"
    "UID=Your_User_ID;"
)
```

```python
# Initialise the Cursor
cursor = connection.cursor()

# Executing a SQL Query
cursor.execute(query_string)
```

conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=test;DATABASE=test;UID=user;PWD=password')

In [120]:
datahackerman_connection=psycopg2.connect(
    dbname=db_credentials["database"],
    user=db_credentials["username"],
    password=db_credentials["password"],
    host=db_credentials["host"],
    port=db_credentials["port"]
)

In [121]:
data_dbpractise_connection=psycopg2.connect(
     dbname=jacob_postgres_credential["database"],
    user=jacob_postgres_credential["username"],
    password=jacob_postgres_credential["password"],
    host=jacob_postgres_credential["host"],
    port=jacob_postgres_credential["port"]
)

In [122]:
jackdatabase_url_object = URL.create(
    "postgresql+psycopg2",
    username=jacob_postgres_credential["username"],
    password=jacob_postgres_credential["password"],
    host=jacob_postgres_credential["host"],
    database=jacob_postgres_credential["database"],
    port=jacob_postgres_credential["port"]
)

In [123]:
datahackerman_connection

In [124]:
data_dbpractise_connection

In [125]:
jackdatabase_url_object

postgresql+psycopg2://postgres:***@data-dbpractise.c6br3sexd3ij.eu-north-1.rds.amazonaws.com:5432/postgres

## Write Data to DB

In [126]:
jackdatabase_url_object = URL.create(
    "postgresql+psycopg2",
    username=jacob_postgres_credential["username"],
    password=jacob_postgres_credential["password"],
    host=jacob_postgres_credential["host"],
    database=jacob_postgres_credential["database"],
    port=jacob_postgres_credential["port"]
)
engine = create_engine(jackdatabase_url_object)

In [127]:
engine

Engine(postgresql+psycopg2://postgres:***@data-dbpractise.c6br3sexd3ij.eu-north-1.rds.amazonaws.com:5432/postgres)

In [128]:
with engine.connect().execution_options(autocommit=True) as dh_connection:
    combined_data.to_sql("rental_details", con=engine, schema="public", if_exists='replace', index=False, chunksize=1000)

In [129]:
combined_query_string = """
select * from rental_details
"""

with engine.connect().execution_options(autocommit=True) as dh_connection:
    new_combined_data = pd.read_sql(text(combined_query_string), dh_connection)

In [112]:
new_combined_data.head()

,rental_uid,book_uid,borrower_uid,borrowed_date,borrower_returned_date,book_author,book_length,book_publication_date,book_rental_date,book_subject,book_title,borrower_date_of_birth,borrower_address,borrower_ethnic_group,borrower_gender,borrower_join_date
0,76609620900561,37305790289730,88833280729411,2017-06-29,2017-07-17,Robert Acuff,362,1981-07-09,30,Teen,dachshund default partition amputate,2001-03-14,M1 3,D,F,2008-04-19
1,83114291920228,1253436612142,88833280729411,2009-11-29,2009-12-16,Meredith Saunders,414,1978-11-09,30,teen,phonic auspices Gaussian madmen produce expedition,2001-03-14,M1 3,D,F,2008-04-19
2,88537859878214,92083778372643,88833280729411,2015-05-15,2015-06-09,Hazel Law,308,1985-11-25,30,Short Stories,citron Danny foot,2001-03-14,M1 3,D,F,2008-04-19
3,75410000220725,51049394513918,88833280729411,2014-09-15,2014-10-04,Michael Dealba,315,1968-04-25,30,horror,sapient vivacious guillotine bushland shoal insouciant,2001-03-14,M1 3,D,F,2008-04-19
4,32824255130354,14360217402682,88833280729411,2012-06-12,2012-06-20,Christopher Smith,345,1974-12-19,7,fantasy,flounder blight taffeta supplicant accede,2001-03-14,M1 3,D,F,2008-04-19